/*
                                            ████████ ██████   ██████  ███    ███  ██████  ███████ ███    ███                                             
                                               ██    ██   ██ ██    ██ ████  ████ ██    ██ ██      ████  ████                                             
                                               ██    ██████  ██    ██ ██ ████ ██ ██    ██ ███████ ██ ████ ██                                             
                                               ██    ██   ██ ██    ██ ██  ██  ██ ██    ██      ██ ██  ██  ██                                             
                                               ██    ██   ██  ██████  ██      ██  ██████  ███████ ██      ██                                             
                                                                                                                                                         
*/                                                                                                                                                         
    html,body{
        margin: 0;
        font-smooth: always;
        padding: 0;
        background-color: white;
        scroll-behavior: smooth;
        overflow-x: hidden;
        scrollbar-width: thin;
        font-family: SF Pro,interVAR;
    }
     [ui=noselection]::selection{
    background-color: transparent;
    color: inherit;
}
   [ui=close]::selection , [ui=close] tromoSM-ui-close::selection{
    background-color: transparent;
    color: inherit;
   }
   
    *::selection{
        background-color: rgba(0, 0, 0, 0.603);
        color: rgb(255, 255, 255);
    }
    img::selection{
        background-color: #0005;
    }
    :root{
        --winT : grey;
        --eleMAX :  #fa5c5c;
        --eleMIN : #3eff47;
        --eleMID : #ffdc3e;
        --light: aliceblue ;

    }
    section{
        padding: 10px 0px;
    }
    button{
        font-family: SF Pro,interVAR;
    }

                                                                 
                                                                 
