@font-face {
    font-family: black-main;
    src: url("https://rawcdn.githack.com/tromoSM/tromoSM/refs/heads/main/Portfolio/Assets/fonts/circular-black.woff2");
}
@font-face {
    font-family: InterR;
    src: url('Assets/fonts/InterVar.ttf');
}
@font-face{
   font-family: SpaceMONO;
   src: url('Assets/fonts/SpaceMono.ttf');
}
*{
    color-scheme: dark;
}
[width=full]{
    width: 100%;
}
[section="upcoming"]{display: none;}
[section="upcoming"][enabled]{display: block;}
[section='upcoming'] [tromoSM=scrollX-agentA],[section='upcoming'] [tromoSM=scrollX-agentB]{
    display: none;
}
[contain]{object-fit: contain !important;padding: 7px;box-sizing: border-box;}
flex label{
    transition: 0.2s;
    height: 100%;
    background-color: #cccccc2c;
    z-index: +6;
    position: relative;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    align-items: center;
    padding: 0px 10px;
    height: 30px;
}
flex label:first-child{
    border-radius: 50px 0px 0px 50px;
}
flex input[type=radio]{
    display: none;
    z-index: +6;
    position: relative;
}
flex input[type=radio]:checked + bg{
    filter: none;
    width: 100%;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
bg{
    display: block;
    width: 0%;
    height: 100%;
    transition: 0.3s;
    top: 0;
    left: 0;
    filter: blur(10px);
    background-color: #09ff000e;
    transform: scale(1.2);
    z-index: 0;
    position: absolute;
}
flex {
	display: flex;
	justify-content: flex-start;
	width: 95%;
    height: 52px;
}
flexC input[type='text'],flexC textarea{
    width: 95%;
    border:1px solid #ffffff12;
    outline: none;
    font-family: inherit;
    padding: 5px 7px;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #00000026;
}
flexC button{
  background: #272525;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  padding: 8px;
  margin-top: 6px;
  cursor: pointer;
}
flexC label[radiodih]{
  font-size: 13px;
  color: #b8b8b8;
  margin-left: 1px;
  cursor: pointer;
  user-select: none;
}
flexC input[type=checkbox]{
    accent-color: #303030;
}
flexC input[type='text']:focus,flexC textarea:focus{
    border: 1px solid #ffffff30;
}
[info='description']{
    height: 71px;
}
[aft='*']::after{
    content: ' *';
    font-size: 10px;
    color: #ff5454;
}
[tromoSM="INlabel"] {
	color: #e3e3e3;
	text-transform: capitalize;
	font-size: 12px;
}
[tromoSM="INlabel"]:first-child{
    margin-top: 10px;
}
flexC {
    gap: 5px;
	display: flex;
	justify-content: flex-start;
	width: 95%;
    flex-direction: column;
}
[tromoSM="feedback"]{
    background: #1e1e1e;
    border-radius: 50px;
    padding: 5px 9px;
    font-family: inherit;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 0;
    bottom: 10px;
    overflow: hidden;
    transition: 0.2s;
    right: 10px;
}
[tromoSM="feedback"]:active{
    transform: scale(0.95);
}
[tromoSM=abp-lab]{
   display: none;
}
[tromoSM=main-wra-allk0]{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
    z-index: +99999;   
}
[tromoSM="close$repo"]{
    width: 100%;
    height: 100%;
    position: fixed;
}
[tromoSM=mob-close-rep]{
  position: fixed;
   top: 0;
  right: 0;
  margin: 10% 5% 0px 0;
  background: #ffffff12;
  color: aliceblue;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  z-index: +6767676798 !important;
  font-size: larger;
  backdrop-filter: blur(15px);
  will-change: transform,scale;
  box-shadow: 0px 2px 15px #00000024;
  animation: yogurt-entry-mb-rep 0.5s 1;
}
[tromoSM=mob-close-rep]:active{
  background: #ffffff2a;
}
@keyframes yogurt-entry-mb-rep{
    from{
        transform: scale(0);
        filter: blur(2px);
    }
    50%{
        transform: scale(1.1);
        filter:none;

    }
    to{
        transform: scale(1);
        filter:none;
    }
}

[tromoSM=main-desc-sec1]{
    width: 80%;
    overflow-y: scroll;
    color: aliceblue;
    background-color: #272525;
    scrollbar-width: none;
    transform: scale(0.8);
    opacity: 0;
    font-weight: 300;
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px 20px;
    min-height: 80px;
    animation:  io-ani-as forwards 0.3s 0.1s;
}
[tr="loader-a"]{
    background-color: #00000044;
    width: 15px ;
    border-radius: 50px;
    overflow: hidden;
    height: 15px;
    border-radius: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
}
code {
	background: #313131;
	padding: 1px 10px;
	border-radius: 4px;
	word-break: keep-all;
	display: inline;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	margin: 2px;
	font-family: SpaceMONO,SF Mono,Consolas,monospace;
	font-weight: 100;
	font-size: 14px;
}
[tr="inner-loader"] h4{
    line-height: 1.6;
}
[tr="inner-loader"]{
    width: 3px;
    background: #00d5ff50;
    height: 80%;
    filter: blur(4px);
    animation: yogurt-in 1s ease infinite;
}
[tr="inner-loader"]:first-child{
    animation-delay: 0.1s ;
}
[tr="inner-loader"]:nth-child(2){
    animation-delay: 0.2s;
}
[tr="inner-loader"]:nth-child(3){
    animation-delay: 0.3s;
}
[tr="inner-loader"]:nth-child(4){
    animation-delay: 0.4s;
}
[tr="inner-loader"]:nth-child(5){
    animation-delay: 0.5s;
}
/*idk if my ahh got dementia but ur dumbahh keep forgettin tha this animation is still used
yogurt-in btw
*/
@keyframes yogurt-in{
    from,to{
        height:50%;
        filter: blur(4px) hue-rotate(0deg);
    }
    50%{
        filter: blur(4px) hue-rotate(-50deg);
        height: 10%;
    }
}
[tromoSM='def-btn11']{
    width: 30px;
  height: 30px;
  transition: 0.2s;
  background: #282828;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  min-height: 30px;
  min-width: 30px;
  border: none;
  outline: none;
  box-shadow: 3px 2px 2px -4px rgb(255, 255, 255) inset, -2px -1px 2px -3px rgba(255, 255, 255, 0.39) inset,0px 0px 20px #0000004f;
}

[tromoSM=flex-lf]{
    display: flex;
    width: 90%;
    gap: 3px;
    justify-content: flex-start;
    align-items: center;
}
[ab=abs-btn]{
  position: absolute;
  top: 10px;
  right: 10px;
}
[lab=el] p{
 display: block;
    width:0%;
    font: inherit;
    color: white;
 transition: 0.2s;
overflow:hidden;
text-overflow: ellipsis;
white-space:  nowrap;
}
[tromoSM="wr-tr-su"]:active [tromoSM="visual-graphic-curr"] {
  opacity: 1 !important;
  width: 100%;
  left: 50%;
  transform: translateX(-50%) !important;
   filter: blur(50px) brightness(1.2) ;
}
pointer {
	width: 250px;
	height: 250px;
	display: block;
	position: fixed;
	background: #2b0023;
    pointer-events: none;
	z-index: 1;
	border-radius: 50%;
	mix-blend-mode: difference;
	filter: blur(67px);
}
img::selection {
	background: transparent;
	color: transparent;
}
/*MD S*/
[tromosm="Readmeinner"]{
    padding: 10px;
    position: relative;
  max-width: 100%;
    box-sizing: border-box;
}
[tromosm="Readmeinner"] img{
    max-width: 100%;
}
[tromosm="Readmeinner"] a {
	color: #62d7fd;
	text-decoration: 1px underline #62d7fd5e;
	position: relative;
}
[tromosm="Readmeinner"] a::before{
    height: 1px;
    width: 0%;
    position: absolute;
    left: 0;
    content: '';
    background-color: #62d7fd;
    bottom: 0;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[tromosm="Readmeinner"] a:hover::before{
    width: 100%;
}
blockquote::before {
	height: 100%;
	width: 3px;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
}
blockquote {
	background: #262424;
	position: relative;
	padding: 17px 5px 5px 12px;
    margin-right: 5px;
	border-radius: 4px;
	overflow: hidden;
}
[tromosm="NOTE" i]::before,[tromosm="TIP" i]::before{background:#1f6feb;}
[tromosm="NOTE" i]::after,[tromosm="TIP"i]::after{color: #1f6feb;}
[tromosm="IMPORTANT" i]::after{color: #8957e5;}
[tromosm="IMPORTANT" i]::before{background-color: #8957e5;}
[tromosm="WARNING" i]::after{color: #9e6a03;}
[tromosm="WARNING" i]::before{background-color: #9e6a03;}
[tromosm="CAUTION" i]::after{color: #da3633;}
[tromosm="CAUTION" i]::before{background-color: #da3633;}
table {
	table-layout: fixed;
	width: 100%;
	background: #ffffff0d;
	border-collapse: collapse;
}
tr, td,th{
	padding: 0px 10px !important;
	overflow: hidden;
	box-sizing: border-box;
}
thead {
	background: #f0f8ff14;
	border: 1px solid #f0f8ff21;
}
tr {
	border: 1px solid #57575775 !important;
}
th {
	text-align: left;
	border-right: 1px solid #666;
}
blockquote::after {
	content: 'note';
	position: absolute;
	top: 0;
	left: 0;
	margin: 4px 9px;
	font-size: 11px;
	text-transform: capitalize;
}
/*MD S END*/
[lab=el]:hover p{
    width:100%;
}
[lab=el]:hover svg{
    width: 15px;
}
[lab=el]:hover{
    width: 90px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[lab=el],[lab=el] p{
transition-duration: 0.3s;
}
[tromoSM="def-btn11"]:active {
	transform: scale(1.15);
	filter: brightness(2) !important;
	transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[tromoSM='def-btn11']:hover{
  filter: brightness(1.1);
  box-shadow: 3px 2px 2px -4px rgb(255, 255, 255) inset, -2px -1px 2px -3px rgb(255, 255, 255) inset,0px 0px 20px #0000004f !important;
  background: #313131 !important;
}
[tromoSM='def-btn11'] svg{
    width: 21px;
    fill: white;
    stroke: white;
    transition: 0.2s;
}
[tromoSM=aside-app-info-board]{
position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 30px;
  background: linear-gradient(0deg,#020202,transparent);
  width: 100%;
  padding: 5px 20px;
  justify-content: center;
  z-index: +9;
  border-radius: 0px 0px 25px 25px;
  box-sizing: border-box;
}
@keyframes io-ani-as{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes io-ani-as-in{
    from{
        transform: translateY(31px);
    }
    to{
        transform: translateY(0px);
    }
}
[tromoSM=aside-info-bttn]:first-child{
        margin-left:10px ;
}
[tromoSM=aside-info-bttn]{
    background-color: transparent;
    gap: 2px;
    margin-left: 2px;
    border: none;
    font-family: InterR, SF Pro, -apple-system, apple-color-font, Noto Sans, Arial,sans-serif;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    outline: none;
    position: relative;
    padding: 2px 10px;
    border-radius: 50px;
}
[tromoSM=aside-info-bttn]::before{
    width: 100%;
    height: 100%;
    content: '';
    scale: 0;
    border-radius: 50px;
    background-color: #ffffff09;
    top: 0;
    left: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
}
[tromoSM='topic$$append$repo']{
    background-color:#272525;
    color: aliceblue;
    padding: 1px 7px;
    border-radius: 50px;
    margin: 3px 2px;
}
[tromoSM=aside-info-bttn]:hover::before{
    scale: 1;
}

[tromosm="aside-topics-repo"]{
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 90%;
}
[tromoSM=main-notiff-wr-op]{
    background-color: #0d0c0c;
    z-index: +999990;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    width: 440px;
    height: 80%;
    animation:  io-ani 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}
@keyframes io-ani{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
   
    to{
        opacity: 1;
        transform: scale(1);
    }
}

[tromoSM=notif-proj-bann-im]{
    background-color: #272525;
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
    padding: 21px 20px;
}
[tromoSM=main-t-proj-notiff]{
    font-family: InterR, SF Pro, -apple-system, apple-color-font, Noto Sans, Arial,sans-serif;
    color: aliceblue;
    font-size: 38px;
    font-weight: 700;
    margin-top: 10px;
    width: 90%;
    padding-left: 2px;
    text-align: left;
    text-transform: uppercase;
    animation: io-ani-txt 0.3s forwards ;
}
@keyframes io-ani-txt{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
[tromoSM=aside-proj-di]{
    border-radius: 20px;
    background-color: #1a1818;
    align-items: center;
    overflow: hidden;
    display: flex;
    overflow-y: visible;
  scrollbar-width: none;
    flex-direction: column;
    position: relative;
    height: 90%;
    margin: 20px;
    padding: 0px 0px 15px 0px;
  box-sizing: border-box;
}
[tromoSM=aside-proj-lf]{
    width: 60%;
    border-radius: 20px;
    margin: 20px;
    margin-left: 0px !important;
    background-color : #1a1818;
    height: 90%;
}
[tromoSM=main-wra-allk0]::before{
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    z-index: 0;
    backdrop-filter: blur(15px);
    animation: io-open 0.3s  cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}
@keyframes io-open{
    from{
    backdrop-filter: blur(0px);
    }
    to{
    backdrop-filter: blur(15px);
    }
}
[tromoSM="main-bg-inner-o"]{
    width: 100vw;
    position: fixed;
    top: 50%;
    height: auto;
    transform: translate(-50%,-50%);
    left:50%;
    height: 100vh;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    animation: open-ani-bg-in 0.5s 1 forwards, ani-full-bg 10s infinite,ani-full-bg-wid 10s 14.4s infinite;
}
[tromoSM=crd-00] img{
z-index: +10;
margin-bottom: 20px;
width: 250px;
filter: drop-shadow(0px 0px 10px #f0f8ff70) !important;
aspect-ratio: 250/46.8;
object-fit: cover; 
}

[tromoSM=visual-graphic-curr]{
 width: 50%;
 z-index: -5;
 top: 0;
 filter: blur(50px);
 justify-self: center;
 opacity: 0;
 left: 0;
transform: translateX(-50%);
 height: 200%;
 background-color: rgb(97, 97, 97);
 position: absolute;
 transition: 0.1s opacity ,0.2s width,0.2s filter;
}
[tromoSM=wr-tr-su]:hover [tromoSM=visual-graphic-curr]{
    opacity: 1; 
}
[tromoSM=wr-tr-su]:active [tromoSM=visual-graphic-curr]{
    /*opacity: 0;*/ 
}
[tromoSM=x-wrp-scrl-im-log]{
    display: flex;
    padding-left: 10px;
    gap: 5px;
    align-items: center;
    overflow-x: scroll;
    height: 110px;
}
[ScrollerX="press"]{
    scrollbar-width: none;
    scroll-behavior: smooth;
}
[tromoSM=scrollX-agentA],[tromoSM=scrollX-agentB]{
    width: 70px;
    position: fixed;
    position: absolute;
    justify-content: center;
    right: 0;
    align-items: center;
    display: flex;
    background: linear-gradient(90deg,transparent,#000);
    animation: open-ani-scrollr-ag 0.3s forwards 1 ;
}
[tromoSM=scrollX-agentB]{
    background: linear-gradient(90deg,#000,transparent) !important;
    left: 0 !important;
}
[tromoSM=scrollX-agentB-app] svg{
    transform: scaleX(-1);
}
[tromoSM=scrollX-agentA-app],[tromoSM=scrollX-agentB-app]{
    background-color: transparent;
    border-radius: 50px;
    border:none;
    backdrop-filter: blur(5px) brightness(1.2);
        transform: scale(1);
    width: 35px;
    will-change: transform;
    box-shadow: 1px 1px 5px -5px rgba(255, 255, 255, 0.39) inset, -2px -2px 4px -5px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
    height: 35px;
    padding: 10px;
    transition: 0.2s ;
    outline: none;
    animation: open-ani-scrollr 0.7s   1 ;
}
@keyframes open-ani-scrollr{
    from{
    backdrop-filter: blur(5px) brightness(3);
        transform: scale(0);
    }
    50%{
    backdrop-filter: blur(5px) brightness(1.2);
        transform: scale(1.1);
    }
    to{
    backdrop-filter: blur(5px) brightness(1.2);
        transform: scale(1);
    }
}

@keyframes open-ani-scrollr-ag{
    from{
    opacity: 0;
    }
   
    to{
  opacity: 1;
    }
}
[tromoSM=scrollX-agentA-app]:hover,[tromoSM=scrollX-agentB-app]:hover{
    backdrop-filter: blur(5px) brightness(2);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.1);
    box-shadow: 3px 3px 5px -5px rgba(255, 255, 255, 0.39) inset, -3px -3px 5px -5px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[tromoSM=scrollX-agentA-app]:active,[tromoSM=scrollX-agentB-app]:active{
      backdrop-filter: blur(5px) brightness(3);
    transform: scale(0.9);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: blur(2px);
    box-shadow: 3px 3px 5px -5px rgba(255, 255, 255, 0.39) inset, -3px -3px 5px -5px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}

[tromoSM=wr-tr-su] label-p{
   position: absolute;
   bottom: 0;
   text-align: center;
   width: 100%;
   transform: translateY(29px);
   transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
   left: 0;
   padding: 5px 0px;
   background: linear-gradient(0deg,#00000083,transparent);
}
[tromoSM=wr-tr-su]:hover label-p{
   transform: translateY(0px);
}
[tromoSM=wr-tr-su]{
border: 0.1rem solid transparent;
border-radius: 17px;
position: relative;
z-index: 0;
width: fit-content;
box-shadow: 0px 3px 5px #0d0c0c;
flex-shrink: 0;
overflow: hidden;min-height: 1px;
background-position: 0% 0%;
background-size: 200% 100%;
transition: background-position 0.5s ease;
padding: 20px 5px 0px 5px;
  background:linear-gradient(to right, rgb(30,30,31), rgb(30,30,30)) padding-box,linear-gradient(96deg,rgb(161,161,161),rgb(87,87,87),rgb(134,134,134),rgb(53,53,53),rgb(56,56,56),rgb(25,25,25)) border-box;
  background-position: 0% 0%, 100% 0%;
  background-size: 100% 100%, 200% 100%;
  transition: background-position .5s ease;
}

[tromoSM=wr-tr-su][tromoSM-ext=after1-hv]{
  background-position: 0% 0%, 0% 100%;
}
[tromoSM=wr-tr-su][tromoSM-ext=before1-hv]{
    background-position: 0% 100%, 50% 0%;
}


[section]{
    overflow: hidden;
}
[t]{
    padding-left: 10px;
    font-weight: 700;
}

@keyframes ani-full-bg {
    from,to{
        filter: blur(50px) hue-rotate(0deg);
    }
    50%{
        filter: blur(50px) hue-rotate(-50deg);
    }
}
@keyframes ani-full-bg-nb {
    from,to{
        filter:hue-rotate(0deg);
    }
    50%{
        filter:hue-rotate(-50deg);
    }
}
@keyframes ani-full-bg-wid {
    from,to{
        width: 100vw;
    }
    90%{
        width: 150vw;
    }
  

}
[i=b]{
    background-color: transparent;
    border: 2px solid white;
    mix-blend-mode: normal !important;
    padding: 7px 18px;
    backdrop-filter: brightness(1.2) blur(5px);
    border-radius: 50px;
    color: aliceblue;
    font-size: medium;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    font-family: InterR, SF Pro, -apple-system, apple-color-font, Noto Sans, Arial,sans-serif;
}

[i=b]:hover::before{
 width: 105%;
}
[i=b]:hover [stroke="#fff"]:first-child{
    color: black !important;
    stroke: black;
    fill: black !important;
}
[i=b]:hover path,[i=b]:hover svg{
    stroke: black !important;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black !important;
    fill: black;
    stroke: black;
}
[fill="none"]{
    color: transparent !important;
    fill: none !important;
}
[i=b]:active::after{
 width: 105%;
}
[i=b] span{
    width: 0px;
    position: absolute;
    right: 0;
    margin-right: 9px;
    transform: translateX(-20px);
    opacity: 0;
    transition: 0.3s ;
    overflow: hidden;
}
[i=b]:hover span{
width: 7px;
transform: translateX(0px);
opacity: 1;
}
[tromoSM="bttn-soc-a"]{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 67px;
    width: 26px;
    height: 26px;
    position: relative;
    background-color: rgba(240, 248, 255, 0.199);
    outline: none;
    mix-blend-mode: normal !important;
}
[tromoSM="bttn-soc-a"]::before{
    width: 100%;
    background: #00d5ff50;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    content: '';
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;    
    animation:ani-full-bg-nb 10s 0s infinite;
    transform: scale(0);
}
[tromoSM="bttn-soc-a"]:hover::before{
    transform: scale(1);
}
[tromoSM="bttn-soc-a"]:active::before{
    transform: scale(1.2);
}
[tromoSM="bttn-wrp-sc"]{
    display: flex;
    background-color: rgba(240, 248, 255, 0.068);
    justify-content: center;
    align-items: center;
    margin: 7px;
    position: fixed;
    right: 0;
    top: 0;
    gap: 4px;
    z-index: +6767667;
    isolation: isolate;
    padding: 5px;
    backdrop-filter: blur(15px) brightness(0.7);
    border-radius: 50px;
    flex-wrap:nowrap;
}
[i=b]:hover{
    transition: 0.3s;
    color: black;
}
[i=b]::before{
    mix-blend-mode: normal !important;
    content: '';
    width: 0%;
    top: 0;
    transition: 0.25s;
    overflow: hidden;
    background-color: aliceblue;
    left: 0;
    z-index: -1;
    height: 105%;
    position: absolute;
}

[i=b]::after{
    mix-blend-mode: normal !important;
    content: '';
    width: 0%;
    top: 0;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    background-color:#00a7c948;
    left: 0;
    animation:  ani-full-bg-nb 10s infinite;
    z-index: -1;
    height: 105%;
    position: absolute;
}
[tromoSM="wrap-all"]{
    display: flex;
flex-direction: column;
height: 95%;
mix-blend-mode: difference;
    align-items: center;
    position: fixed;  
    top: 0;
    width: 100vw;
 justify-content: center;
}
[tromoSM=title-wr]{
    background-color: transparent;
    z-index: 0;
    justify-content: center;
  display: flex;
  text-align: center;
  align-content: center;
}
[tromoSM="wrap-ini-buttn"]{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

}
button{
    font-family: InterR, SF Pro, -apple-system, apple-color-font, Noto Sans, Arial,sans-serif;
}
html,body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    font-family: InterR, SF Pro, -apple-system, apple-color-font, Noto Sans, Arial,sans-serif;
}
p{
    padding: 0;
    margin: 0;
}
[tromoSM="main-bg-outr"]{
    width: 100vw;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}
@keyframes open-ani-bg-in{
    from{
        filter: brightness(0);
    }
    to{
        filter: brightness(1);
    }
}
 [main=title]{
 color:aliceblue;
 mix-blend-mode: difference;
    letter-spacing: -7.86px;
 width: 100%;
 text-align: center;
 font-weight: 700;
 font-family: black-main,InterR, SF Pro, -apple-system, apple-color-font, Noto Sans, Arial,sans-serif;
 font-size: 110px;
 position: relative;
 top: 0;
 margin-left: 10px;
}
[tromoSM="ic-ui-scroll"]{
    position: absolute;
    bottom: 0;
    animation: 3s infinite yoyo;
}
[on-mob]{
    display: none ;
}
@keyframes yoyo{
    from{
        filter: drop-shadow(0px 0px 0.1px white);
    }
    50%{
        filter: drop-shadow(0px 0px 0.1px white);
    }
    to{
        filter: drop-shadow(0px -10px 0.1px rgba(255, 255, 255, 0));
    }
}
@media (max-width:527px)  { 
 [main=title]{
    letter-spacing: -5.48px;
    line-height: 1.195;
  font-size: 563%;
}
[tromoSM="main-notiff-wr-op"]{
    width:90%;
}
[tromoSM="wrap-ini-buttn"]{
    scale: 0.85;
}
[on-mob]{
    display: block;
}
}
@media (max-width:423px) {
 [main=title]{
    font-size: 510.25%;
    letter-spacing: -7.86;
    margin-left: 0px;
 }
}
@media (max-width:371px) {
 [main=title]{
    font-size: 74px;
    letter-spacing: -7.86;
    margin-left: 0px;
 }
}
@media (max-width:331px) {
 [main=title]{
    font-size: 69px;
 }
}
[tromoSM='language-repo-all']{
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
[all=content]{
    position: relative;
    width: 100%;
    box-shadow:0px -5px 10px #0006;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    backdrop-filter: blur(15px);
    z-index: 7;
}
[lang=python]{
    background: #3572A5 ;
}
[lang=javascript]{
    background:#f1e05a ;
}
[lang=html]{
    background: #e34c26;
}
[lang=css]{
    background: #563d7c;
}
[lang='c#']{
    background:  #178600;
}
[lang='java']{
    background:#b07219 ;
}
[lang='php']{
    background:#4F5D95 ;
}
[lang='typescript']{
    background:#2b7489 ;
}
